:root {
  --color-principal: #2E8B57; /* Verde Bosque */
  --color-secundario-1: #FFD700; /* Amarillo Dorado */
  --color-secundario-2: #4682B4; /* Azul Acero */
  --color-fondo-principal: #F5F5F5; /* Blanco Humo */
  --color-fondo-secciones: #D3D3D3; /* Gris Claro */
  --color-texto-principal: #000000; /* Negro */
  --color-texto-secundario: #4F4F4F; /* Gris Oscuro */
}

/* Aplicar colores a elementos específicos */
body {
  background-color: var(--color-fondo-principal);
  color: var(--color-texto-principal);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-principal);
}

a {
  color: var(--color-secundario-2);
}

a:hover {
  color: var(--color-secundario-1);
}

.btn-primary {
  background-color: var(--color-principal);
  border-color: var(--color-principal);
}

.btn-secondary {
  background-color: var(--color-secundario-1);
  border-color: var(--color-secundario-1);
}

.card {
  background-color: var(--color-fondo-secciones);
}

.card-title {
  color: var(--color-principal);
}

.card-text {
  color: var(--color-texto-secundario);
}