@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Body Styles */
body {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
}

/* Container Styles */
.container {
    padding-bottom: 5rem;
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    font-family: 'Roboto', sans-serif;
}

/* Button Styles */
.btn-primary, .btn-secondary, .btn-danger {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transición suave */
    margin-bottom: 0.5rem;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: white; /* Fondo blanco al pasar el ratón */
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
    transform: scale(1.05); /* Transición de escala */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.btn-danger:hover {
    background-color: red;
    text-shadow: 1px 1px 3px black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
    transform: scale(1.05); /* Transición de escala */
    transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.btn-primary:active, .btn-secondary:active, .btn-danger:active {
    background-color: black;
    color: white;
    box-shadow: inset 1px 1px 30px white;
}

/* Table Styles */
.table {
    background-color: white; /* Fondo blanco */
    border: 1px solid black; /* Borde negro */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.table th, .table td {
    color: black; /* Texto negro */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; /* Fondo gris claro para filas impares */
}

.table-striped tbody tr:hover {
    background-color: #f1f1f1; /* Fondo gris claro al pasar el ratón */
}

/* Modal Styles */
.modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: 1px solid black; /* Borde negro */
}

.modal-header, .modal-footer {
    border-bottom: 1px solid black; /* Borde negro */
}

.modal-header .close {
    color: black; /* Texto negro */
}

/* Card Styles */
.card {
    background-color: white; /* Fondo blanco */
    border: 1px solid black; /* Borde negro */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card-title {
    color: black; /* Texto negro */
}

.card-subtitle {
    color: gray; /* Texto gris */
}

.card-text {
    color: gray; /* Texto gris */
}

/* Form Control Styles */
.form-control {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: 1px solid black; /* Borde negro */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.form-control:focus {
    border-color: black; /* Borde negro al enfocar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Alert Styles */
/* .alert {
    background-color: black; 
    color: white; 
    border: none; 
    transition: opacity 0.3s ease; 
} */

/* Nav Tabs Styles */
.nav-tabs {
    margin-bottom: 1rem;
    border-bottom: 1px solid black; /* Borde negro */
}

.nav-link {
    cursor: pointer;
    color: black; /* Texto negro */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transición suave */
}

.nav-link.active {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
}

.nav-link:hover {
    background-color: black; /* Fondo negro al pasar el ratón */
    color: white; /* Texto blanco al pasar el ratón */
}

label {
    color: black;
    font-weight: bold;
}

input {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
} 

input:focus {
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.form-select {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: 1px solid black; /* Borde negro */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
  }
  .form-select:hover {
    background-color: #f1f1f1; /* Fondo gris claro al pasar el ratón */
    color: black; /* Texto negro al pasar el ratón */
}
.pagination button {
    margin: 0 0.5rem;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}